version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
    allow:
      # Allow only production updates for Sphinx
      - dependency-name: sphinx
        dependency-type: production
    groups:
      docs:
        patterns:
          - '*'
