=======================
Miniconda Release Notes
=======================

{% for release in release_info %}

{%- set heading = "Miniconda {} ({})".format(release.version, release.release_date) -%}
{{ heading }}
{{ "^" * heading|length }} 

{% if not release.notes -%}
{%- else -%}
{{ release.notes }}
{%- endif %}

Available Python Versions
--------------------------

{% for py_version in release.python_versions -%}
* {{ py_version }}
{% endfor %}

{% if release.package_lists -%}

Packages
--------

{% for platform, packages in release.package_lists|dictsort %}

**{{ platform }}**

{% for package in packages|sort(attribute="name") %}
* {{ package.name }} {{ package.version }}
{%- endfor -%}

{%- endfor -%}
{%- endif %}

{% endfor %}