*~
*.pyc
*.egg-info
dist/
build
_build
source/_build
.cache/
.idea/
ve/
MANIFEST
.coverage
coverage.xml
.tox/
junit.xml
.version
tmpfile.rc
.DS_Store
.coverage*
*.bz2
tempfile.rc
conda_build_test_recipe/
record.txt
.vagrant/
Vagrantfile
env/
dev-init.bat
devenv/
Miniconda*.sh
miniconda*.sh
miniconda*.exe
.pytest_cache/
**/.vscode
conda.tmp/
